p 
{
	max-width: 100px;
	color: white;
}

p label 
{
	max-width: 200px;
}

#left-column 
{
	background-image: url("images/The Martian.jpg");
	float: left;
	width: 25%;
}

form 
{
	float: left;
	width: 50%;
	background-image: url("images/Galaxy.jpg");
}

fieldset 
{
	margin: auto;
}

#right-column 
{
	background-image: url("images/mass effect.jpg");
	float: left;
	width: 25%;
}

legend 
{
	color: silver;
}

nav a
{
	font-family: 'Indie Flower', cursive;
	color: gray;
	text-decoration: none;
}

nav ul
{
	list-style: none;
	text-decoration: none;
}

nav
{
	background-color: #00d5ff;
	border-radius: 8px;
}

a:hover
{
	color:yellow;
}
