p 
{
	max-width: 100px;
	color: white;
}

p label 
{
	max-width: 200px;
}

#left-column 
{
	background-image: url("images/The Martian.jpg");
	float: left;
	width: 25%;
	padding-top: 0px;
	padding-bottom: 50px;
}

#mid-column 
{
	float: left;
	width: 50%;
	background-image: url("images/Galaxy.jpg");
}

form
{
	padding-top: 5px;
	margin: auto;
}

#right-column 
{
	background-image: url("images/mass effect.jpg");
	float: left;
	width: 25%;
	padding-top: 0px;
	padding-bottom: 857px;
}

legend 
{
	color: silver;
}

header
{
	padding-bottom: 10px;
}

header h1 
{
	text-align: center;
	color: white;
	font-family: 'Indie Flower', cursive;
}

nav a
{
	font-family: 'Indie Flower', cursive;
	color: gray;
	text-decoration: none;
	padding: 8px 8px 8px 8px;
}

nav ul
{
	list-style: none;
	text-decoration: none;
}

nav ul li 
{
	background-color: #00d5ff;
	border-radius: 8px;
}

nav
{
	
	
}

a:hover
{
	color: yellow;
}

body
{
	background-image: url("images/mars.jpg");
}
@media screen and (max-width: 600px)
{
	#left-column
	{
		width: auto;
		float: none;
	}
	
	#mid-column
	{
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#right-column
	{
		width: auto;
		float: none;
		display: none;
	}
	
	#untitled
	{
		display: none;
	}
	
	nav a 
	{
		padding: none;
	}
	
	nav ul 
	{
		border-radius: 8px;
		padding: 20px;
	}
	
	nav li
	{
		display: inline;
	}
}

@media screen and (max-width: 480px)
{
	header, #left-column, #mid-column, #right-column
	{
		margin-bottom: 5px;
	}
}